* {
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}

ul{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
}

.right-icon {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.ml-5 {
    margin-left: 1.25rem /* 20px */;
}

.lesson-card--empty{
    background-color: rgb(109, 109, 109);
}

.menu {
    position: relative;
}

.menu__item {
    display: inline-block;
    position: relative;
}

.menu__item--standart {
    position: relative;
}

.drop-menu{
    position: absolute;
    z-index: 999;
    display: none;
    padding-top: 10px;
}

.drop-menu--top{
    padding-top: 0;
    padding-bottom: 10px;
    top: -2.8rem;
}

.drop-menu--left {
    padding: 0;
    left: -9rem;
    background-color: cornflowerblue;
}

.drop-menu__item {

}

.menu__item:hover .drop-menu,
.menu__item--standart:hover .drop-menu {
    display: block;
}

.center {
    margin: auto;
}

.content {
    display: flex;
    flex: 1;
}
.content__left {
    flex: 1;
    background-color: aquamarine;
}
.content__middle {
    width: 1180px;
    background-color: beige;
}
.content__right {
    flex: 1;
    background-color: aquamarine;
}
.content__left,
.content__right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.content__middle-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.content__middle-lessons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-top: 40px;
}
.content__left,
.content__middle,
.content__right {
    padding-top: 25px;
}
.content--flex {
    display: flex;
}
.content--flex-sa {
    justify-content: space-around;
}
.content--flex-sb {
    justify-content: space-between;
}
.content--flex-col {
    flex-direction: column;
}